<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add Blog</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <form class="container my-3" method="post" action="/blog" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea class="form-control" id="body" rows="10" name="body"></textarea>
          </div>
          <div class="mb-3">
            <label for="coverImageUrl" class="form-label">Cover Image</label>
            <input  type="file" class="form-control" id="coverImageUrl" name="coverImageUrl">
          </div>
          <div class="mb-3">
           <button id="submit" class="btn btn-primary">Submit</button>
          </div>
          
    </form>
    <%- include('./partials/scripts') %>
  </body>
</html>
